.main{
    display: flex;
    position: absolute;
    top: 0.6rem;
    bottom: 0;
    overflow: hidden;
    min-width: 10rem
}
.main .menu-expanded{
    flex: 0 0 2.3rem;
    width: 2.3rem;
    overflow: hidden;
}
.main .menu-expanded .el-menu{
    height: 100%;
    border-radius: 2px;
    border-right: none;
    background-color: #eef1f6;
    overflow-y: scroll;
    overflow-x:hidden;
    width: 2.47rem; 
}
.el-menu-item [class^=ma], .el-submenu [class^=ma] {
    vertical-align: baseline;
    margin-right: 0.1rem;
}
.el-menu-vertical-demo .el-menu-item:hover,
.el-menu-vertical-demo .el-submenu__title:hover {
    background-color: #d1dbe5;
}
.el-menu-vertical-demo .el-menu-item:focus,
.el-menu-vertical-demo .el-submenu__title:focus {
    background-color: transparent;
}
.main .menu-expanded .el-menu-vertical-demo .el-menu {
    background-color: #e4e8f1;
}
.main .content-container{
    flex: 1;
    overflow-y: scroll;
    padding: 0.2rem;
}
.main .content-container .breadcrumb-container .title{
    width: 2rem;
    float: left;
    color: #475669;
    font-size: 0.14rem;
}
.main .content-container .breadcrumb-container .breadcrumb-inner{
    float: right;
    font-size: 0.13rem
}
.el-breadcrumb-demo .el-breadcrumb__inner{
    transition: color .15s linear;
    color: #48576a;
}
.el-breadcrumb-demo .el-breadcrumb__inner:hover{
    color: #20a0ff;
    cursor: pointer;
}
.breadcrumb-inner .el-breadcrumb-demo:last-child .el-breadcrumb__inner,
.breadcrumb-inner .el-breadcrumb-demo:last-child .el-breadcrumb__inner:hover{
    color: #97a8be;
    cursor: text;
}
.main .content-container .content-wrapper{
    background-color: #fff;
    box-sizing: border-box;
}

.toolbar{
    background: #f2f2f2;
    padding: 0.1rem;
    margin: 0.1rem 0;
}
.toolbar .el-form-item {
    margin-bottom: 0.1rem;
}
.toolbar .el-form-item .el-button{
    padding: 0.1rem 0.15rem;
}
.content-wrapper .el-table-demo{
    width: 100%;
    border: 1px solid #dfe6ec;
    color: #1f2d3d;
}
.content-wrapper .el-table-demo thead{
    color: #1f2d3d;
}
.content-wrapper .el-table-demo td, 
.content-wrapper .el-table-demo th.is-leaf{
    border-bottom: 1px solid #dfe6ec;
}
.content-wrapper .el-table-demo th{
    background-color: #eef1f6;
    text-align: left;
}
.content-wrapper .el-table-demo .cell{
    line-height: 0.2rem;
}
.content-wrapper .el-table-demo td,
.content-wrapper .el-table-demo th{
    height: 0.4rem;
    padding: 0;
}
.content-wrapper .el-table-demo .sort-caret.ascending{
    border-bottom-color: #97a8be;
}
.content-wrapper .el-table-demo .sort-caret.descending{
   border-top-color: #97a8be;
}
.content-wrapper .el-table-demo .ascending .sort-caret.ascending{
    border-bottom-color: #48576a;
}
.content-wrapper .el-table-demo .descending .sort-caret.descending {
    border-top-color: #48576a;
}
.content-wrapper .el-table-demo .el-button--small{
    padding: 0.07rem 0.09rem;
    border-radius: 4px;
}
.content-wrapper .el-table-demo .el-button--danger{
    background-color: #ff4949;
    border-color: #ff4949;
}
.content-wrapper .el-table-demo .el-button--danger:focus,
.content-wrapper .el-table-demo .el-button--danger:hover {
    background: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff;
}
.content-wrapper .demo-table-expand {
    font-size: 0;
}
.content-wrapper .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}
.content-wrapper .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}
.content-wrapper .el-table-demo  .el-table__expanded-cell[class*=cell] {
    padding: 20px 50px;
}