.main{
    display: flex;
    position: absolute;
    top: 0.6rem;
    bottom: 0;
    overflow: hidden;
    min-width: 10rem
}
.main .menu-expanded{
    flex: 0 0 2.3rem;
    width: 2.3rem;
    overflow: hidden;
}
.main .menu-expanded .el-menu{
    height: 100%;
    border-radius: 2px;
    border-right: none;
    background-color: #eef1f6;
    overflow-y: scroll;
    overflow-x:hidden;
    width: 2.47rem; 
}
.el-menu-item [class^=ma], .el-submenu [class^=ma] {
    vertical-align: baseline;
    margin-right: 0.1rem;
}
.el-menu-vertical-demo .el-menu-item:hover,
.el-menu-vertical-demo .el-submenu__title:hover {
    background-color: #d1dbe5;
}
.el-menu-vertical-demo .el-menu-item:focus,
.el-menu-vertical-demo .el-submenu__title:focus {
    background-color: transparent;
}
.main .menu-expanded .el-menu-vertical-demo .el-menu {
    background-color: #e4e8f1;
}
.main .content-container{
    flex: 1;
    overflow-y: scroll;
    padding: 0.2rem;
}
.main .content-container .breadcrumb-container .title{
    width: 2rem;
    float: left;
    color: #475669;
    font-size: 0.14rem;
}
.main .content-container .breadcrumb-container .breadcrumb-inner{
    float: right;
    font-size: 0.13rem
}
.el-breadcrumb-demo .el-breadcrumb__inner{
    transition: color .15s linear;
    color: #48576a;
}
.el-breadcrumb-demo .el-breadcrumb__inner:hover{
    color: #20a0ff;
    cursor: pointer;
}
.breadcrumb-inner .el-breadcrumb-demo:last-child .el-breadcrumb__inner,
.breadcrumb-inner .el-breadcrumb-demo:last-child .el-breadcrumb__inner:hover{
    color: #97a8be;
    cursor: text;
}
.main .content-container .content-wrapper{
    background-color: #fff;
    box-sizing: border-box;
}